#overview {
	.overview--video {
		margin: 0;
		padding: 0;
		width: 700px;
		float: right;
	}
	.overview--video row {
		margin: 0 !important;
	}
}
	.video-tabs-bottom {
		display: inline-block;
		margin: 0;
		width: 33.33%;
	}