.pearls .btn {
	cursor: pointer;
	border: 0;
	color: #fff;
	font-family: 'Karla', Arial;
	text-decoration: none;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	border: 2px solid rgba(255,255,266,0);
	border-radius: 3px;
	float: left;
}

.pearls .category-1 {
	background: $color1;
}
.pearls .category-2 {
	background: $color2;
}
.pearls .category-3 {
	background: $color3;
}

.pearls .category-1.nonactive {
	background: $color1;
}
.pearls .category-2.nonactive {
	background: $color2;
}
.pearls .category-3.nonactive {
	background: $color3;
}

.pearls .category-1.active {
	background: none;
	border: 2px solid $color1;
	color: $color1;
	box-shadow: none;
}

.pearls .category-2.active {
	background: none;
	border: 2px solid $color2;
	color: $color2;
	box-shadow: none;
}

.pearls .category-3.active {
	background: none;
	border: 2px solid $color3;
	color: $color3;
	box-shadow: none;
}

.singlepearl .btn {
	color: #fff;
	background: #d2174e;
	padding: 3px 0;
}

