img {
	max-width: 100%;
}

.entree {
	.overview--video {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	.overview--video row {
		margin: 0 !important;
	}
}
	.video-tabs-bottom {
		margin: 0;
		padding: 0;
	}