img {
	max-width: 100%;
}

.entree {
	.overview--video {
		margin: 0;
		padding: 0;
	}
	.overview--video row {
		margin: 0 !important;
	}
}
	.video-tabs-bottom {
		display: inline-block;
		margin: 0;
		width: 33.33%;
	}