.pearlbar {
	clear: both;
	float: left;
	width: 100%;
	height: 85px;
	background-color: #fff;
	margin: 0;
    background: url(/img/sprite.png) top left no-repeat;
	background-position: 0 -496px;
}

.pearls .row {
	margin: 2rem 0;
}

.pearllist {
	margin: 2rem 0;
}

.pearl {
	padding: 15px;
	cursor: pointer;

	.ring {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		border-radius: 100%;
		// background: transparent;
	    border: 2rem solid rgba(255, 150, 75, 0.8);
	}

	.ring-1 {
		border-color: $color1;
	}

	.ring-2 {
		border-color: $color2;
	}

	.ring-3 {
		border-color: $color3;
	}

	img.tsquare {
		width: 100%;
		height: auto;
	}

	span {
		position: absolute;
		left: 0;
		top: 40%;
		width: 100%;
		padding: 0 3rem;
		text-align: center;
		font-size: 1em;
		font-weight: 500;
		hyphens: auto;
	}
}